@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Metal+Mania&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: rgb(31, 31, 31);
}

.header{
    height: 13vh;
    border-bottom: 4px solid red;
}

.container{
    display: flex;
    margin: auto;
    width: 90%;
}

.titulo{
    font-family: 'Metal Mania', sans-serif;
    font-weight: 100;
    width: fit-content;
    color: whitesmoke;
}

.header .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;  
}

.navbar a{
    color: whitesmoke;
    text-decoration: none;
    position: relative;
    font-size: large;
    
}

.navbar .barra{
    color: whitesmoke;
    font-size: large;
}

.navbar a::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: whitesmoke; 
    transition: width 0.8s ease; 
}

.navbar a:hover::after {
    width: 100%; 
}

.navbar .agora{
    font-weight: 800;
}

/*------------------------------------------Banner---------------------------------------------*/

.banner{
    display: flex;
    height: 50vh;
    border-bottom: 4px solid rgb(202, 17, 17);
    background-image: url(../img/imagemFundo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .container{
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}

.banner .container .cardInicial{
    text-align: center;
    width: 1500px;
    height: 100px;
    background-color: grey;
    border: solid black;
    border-radius: 10px;
}

.banner .container .texto{
    font-family: 'Bebas Neue', sans-serif ;
    font-size: 80px;
    color: orangered;
    text-shadow: 4px 4px 4px black;
}

.teste{
    height: 200px;
}

/*-----------------------------------------------Info Bandas-------------------------------------------*/
.infoBandas{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 50vh;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.infoBandas .cardBanda{
    height: 50px;
    width: 100px;
    background-color: gray;
    border: solid black;
    border-radius: 15px;
    text-align: center;
}
/*----------------------------------------------footer---------------------------------------------*/


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: rgb(202, 17, 17);
}

.creditos{
font-size: large;
}




